.info {
	position: absolute;
	text-align: center;
	display: none;
}

.info-toggle {
	position: absolute;
	top: 0px;
	left: 0px;

	color: #fff;
	cursor: pointer;
}

.info-fav {
	top: calc(50% - 253px);
	right: calc(50% - 220px);
	color: yellow;
}

.info-loc {
	top: calc(50% - 325px);
	right: calc(50% - 230px);
	color: lightcoral;
}

.info-met {
	top: calc(50% - 140px);
	/* left: calc(50% - 220px); */
	color: lightgreen;
}

.info-search {
	top: calc(50% - 363px);
	left: calc(50% - 125px);
}

@media (min-width: 650px) {
	.info-toggle {
		left: calc(50% - 323px);
	}

	.info-loc {
		right: calc(50% - 300px);
	}

	.info-search {
		left: calc(50% - 200px);
	}
}
