* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	outline: 0 !important;
}

body {
	font-family: 'montseratt', sans-serif;
}

.app {
	background-image: url('./assests/title.jpg');
	background-size: fill;
	background-position: bottom;
	background-repeat: no-repeat;
	transition: 0.4s ease-out;
	background-color: #530c87;
}

.app.cool-clear {
	background-image: url('./assests/cool-clear.jpg');
	background-color: #2458af;
}

.app.warm-clear {
	background-image: url('./assests/warm-clear.jpg');
	background-color: #8f63aa;
}

.app.hot-clear {
	background-image: url('./assests/hot-clear.jpg');
	background-color: #895641;
}

.app.clouds {
	background-image: url('./assests/cloudy.jpg');
	background-color: #0c324a;
}

.app.rain {
	background-image: url('./assests/rainy.jpg');
	background-color: #451b61;
}

.app.storm {
	background-image: url('./assests/storm.jpg');
	background-color: #034082;
}

.app.snow {
	background-image: url('./assests/snowing.jpg');
	background-color: #2caecb;
}

.app.mist {
	background-image: url('./assests/mist.jpg');
	background-color: #095258;
}

main {
	min-height: 100vh;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 0.3)
	);
	padding: 25px;
}

.search-box {
	position: relative;

	width: 100%;
	margin: 0 auto 75px;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 0px 16px 16px;
	margin-top: -25px;

	box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

	transition: 0.4s ease;
}

.search-box .search-bar {
	display: inline;
	width: 90%;
	padding: 15px;

	appearance: none;
	background: none;
	border: none;
	outline: none;

	color: #313131;
	font-size: 20px;
}

.search-box:focus {
	background-color: rgba(255, 255, 255, 0.75);
}

.search-box .current-loc {
	position: absolute;
	top: 10.5px;
	right: 10px;

	color: #313131;

	border-radius: 20px;
	padding: 2px;
}

.search-box i:hover {
	cursor: pointer;
}

.location-box .location {
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .location .favorited-loc {
	color: yellow;
	text-shadow: none;

	cursor: pointer;

	border-radius: 20px;
	padding: 2px;
}

.location-box .date {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
}

.weather-box {
	display: flex;
	flex-direction: column;
	height: 68vh;
	text-align: center;
}

.weather-box .temp {
	position: relative;
	display: inline-block;
	margin: 15px auto;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;

	padding: 15px 25px;

	color: #fff;
	font-size: 102px;
	font-weight: 900;

	text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
	text-align: center;
	box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

	transition: width 0.6s ease;
	transform-origin: center;
}

.weather-box .temp:hover {
	cursor: pointer;
}

.weather-box .weather {
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .weather-animation {
	display: flex;
	flex-grow: 1;
	flex: auto;
	margin: 0 auto;
	width: 100%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 55vh;
}

.weather-box .clear-day-ani {
	background-image: url('./assests/day-clear.svg');
}

.weather-box .clear-night-ani {
	background-image: url('./assests/night-clear.svg');
}

.weather-box .clouds-ani {
	background-image: url('./assests/cloudy-animation.svg');
}

.weather-box .mist-ani {
	background-image: url('./assests/mist-animation.svg');
}

.weather-box .rain-ani {
	background-image: url('./assests/rain-animation.svg');
}

.weather-box .thunderstorm-ani {
	background-image: url('./assests/thunder-animation.svg');
}

.weather-box .snow-ani {
	background-image: url('./assests/snowy-animation.svg');
}

.welcome-box .welcome {
	color: #fff;
	font-size: 50px;
	font-weight: 500;
	text-align: center;
	text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.attribution {
	color: #fff;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.attribution a {
	color: #fff;
	text-decoration: none;
}

.attribution a:hover,
.attribution a:focus {
	text-decoration: underline;
}

.attribution p {
	display: inline;
}
